* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#courses, #contact, #tutor {
    scroll-margin-top: 60px;
}

body {
    background-color: #F5D1A0;
    margin: 0;
    padding-top: 75px;
}

.section1, .section3, .section5 {
    background-color: #B3F0EC;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background-color: #B3F0EC;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 2rem;
}

.header1 {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.header2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header2 div {
    padding: 0 1rem;
}

.header2 div:not(:last-child) {
    border-right: 2px solid black;
}

.header3 {
    width: 10rem;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
}

.header3 a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logbtn {
    display: block; 
    width: 100%;
    height: 100%;
    background-color: #B3F0EC;
    border: 2px solid black;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.logbtn:hover {
    background-color: #2EC4B6;
}

.section1, .section2, .section3, .section4, .section5{
    width: 100%;
    height: calc(100vh - 75px);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
} 

.section1 {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;
}

.section1 div {
    width: 50%;
}

.section1img {
    width: 78%;
}

.section1aboutme {
    display: flex;
    flex-direction: column;
}

.section1aboutme h2,
.section1aboutme p {
    margin: 1rem 0;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.section2text {
    height: 35px;
    font-size: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2cards {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.section2card {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px;
    padding: 5px;
    border-radius: 1.5rem;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.section2cardname {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    color: #4a4aef;
    font-weight: bolder;
}

.section2cardresults {
    height: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

.section2cardresults p {
    margin: 5px;
}

.section2cardprice {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.section2cardcontact {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bolder;
}

.section2cardcontact a {
    color: #4a4aef;
    border: 2px solid black;
    padding: 3px;
    border-radius: 1rem;
}

.section2cardcontact a:hover {
    background-color: #FF9F1C;
}

.section2card:hover {
    width: 23%;
    background-color: bisque;
}

.section3 {
    display: flex;
    flex-direction: column;
}

.section3text {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3cards {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section3card1, .section3card2, .section3card3, .section3card4 {
    background-color: aliceblue;
    margin: 10px;
    height: 37vh;
    transition: transform 0.5s ease, background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}

.section3card1:hover, .section3card2:hover, .section3card3:hover, .section3card4:hover {
    background-color: 	#73D8CD;
    transform: scale(1.03);
}

.section3card1 {
    width: calc(70% - 20px);
}

.section3card2 {
    width: calc(30% - 20px);
}

.section3card3 {
    width: calc(30% - 20px);
}

.section3card4 {
    width: calc(70% - 20px);
}

.section4 {
    display: flex;
    flex-direction: column;
}

.section4text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.section4cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.section4card {
    width: 40%;
    height: calc(100% - 50px);
    background-color: aliceblue;
    transition: width 0.5s ease, color 0.5s ease;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 5px;
    padding-bottom: 7px;
}

.section4cardname, .section4cardprice, .section4cardcontact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4cardname {
    font-size: 2rem;
    color: #4a4aef;
    height: 17%;
}

.section4cardresult {
    height: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.section4cardresult p {
    margin: 3px;
}

.section4cardprice {
    height: 10%;
    font-size: 1.5rem;
}

.section4cardcontact {
    height: 10%;
}

.section4cardcontact a {
    font-size: 1.5rem;
    color: #4a4aef;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 3px;
}

.section4cardcontact a:hover {
    background-color: #FF9F1C;
}

.section4card:hover {
    width: 43%;
    background-color: bisque;
}

.section5cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.section5card1 {
    width: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}

.section5card1 div {
    font-size: 1.6rem;
}

.section5card2 {
    width: 40%;
    height: 70%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    font-size: 1.5rem;
}

.contact-form input, .contact-form button {
    width: 80%;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 1rem;
    margin: 15px;
}

.contact-form button {
    background-color: #FFBF69;
    margin: 15px;
}

.contact-form button:hover {
    background-color: #FF9F1C;
    cursor: pointer;
}

.footer {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2% 1% 1% 1%;
}

.footercard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.footercard div p {
    margin: 0;
}

.footercard-2-1 {
    display: flex;
}

.footercard-2-1 div {
    padding-right: 5px;
}

@media(max-width: 1200px) {
    .section2 {
        font-size: 1.8rem;
    }
    .section2cardname {
        height: 15%;
    }
    .section2cardresults {
        height: 61%;
        font-size: 0.9rem;
    }
}    


@media(max-width: 1041px) {
    .section1 {
        font-size: 1.8rem;
    }
    .section2text {
        font-size: 2.3rem;
    }
    .section2cardname {
        font-size: 2rem;
    }
    .section2cardresults {
        font-size: 0.8rem;
    }
    .section4cardresult {
        font-size: 1rem;
    }
    .section4text {
        font-size: 1.5rem;
    }
    .section5card1 div{
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) {
    .section1 {
        font-size: 1.5rem;
    }
    .section1img {
        width: 90%;
    }
    header {
        font-size: 1.5rem;
    }
    .section2text {
        font-size: 2rem;
    }
    .section2cardname {
        font-size: 1.7rem;
    }
    .section2cardprice {
        font-size: 1.3rem;
    }
    .section2cardresults {
        font-size: 0.8rem;
    }
    .section2cardcontact {
        font-size: 1.5rem;
    }
    .section5card1 div{
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .section1 {
        font-size: 1.2rem;
    }
    .section1img {
        width: 100%;
    }
    .section2cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .section2card {
        width: 45%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        flex: 1 1 45%;
    }

    .section2cardcontact{
        margin: 5px;
    }

    .section2card:hover {
        width: 45%;
        background-color: bisque;
    }
    .section2cardresults p:nth-child(n+4) {
        display: none;
    }
    .section3text {
        font-size: 1.5rem;
    }
    .section4cardresult p:nth-child(n+5) {
        display: none;
    }
    .section5cards {
        flex-direction: column;
    }
    .section5card1, .section5card2 {
        width: 90%;
        height: 45%;
    }
    .section5card1 div{
        font-size: 1rem;
    }
    .contact-form label {
        font-size: 1rem;
    }
    .contact-form input, .contact-form button {
        font-size: 0.7rem;
    }
    .contact-form input, .contact-form button, .contact-form button {
        margin: 7px;
    }
}

@media (max-width: 560px) {
    header {
        font-size: 1rem;
    }
    .section1 {
        font-size: 1.1rem;
    }
    .section1 {
        flex-direction: column;
    }
    .section1 div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .section1img {
        width: 60%;
    }
    .section2cardresults p:nth-child(n+3) {
        display: none;
    }
    .section2cardcontact {
        font-size: 1.2rem;
    }
    .section4cards {
        flex-direction: column;
    }
    .section4card {
        width: 95%;
        height: 47%;
    }
    .section4cardresult p:nth-child(n+4) {
        display: none;
    }
    .section4cardname {
        font-size: 1.4rem;
        height: 15%;
    }
    .section4cardresult {
        font-size: 1rem;
        height: 59%;
    }
    .section4cardprice {
        font-size: 1rem;
        height: 13%;
    }
    .section4cardcontact {
        font-size: 1rem;
        height: 13%;
    }
    .section4card:hover {
        width: 100%;
    }
    .section5card1 div{
        font-size: 0.8rem;
    }
}

@media (max-width: 441px) {
    .section2text {
        font-size: 1.4rem;
    }
    .section2card {
        margin: 5px;
    }
    .section2cardname {
        font-size: 1.5rem;
    }
    .section2cardresults {
        font-size: 0.7rem;
    }
    .section4text {
        font-size: 1.2rem;
    }
}

@media (max-width: 410px) {
    header {
        font-size: 0.8rem;
    }
    .section1 {
        font-size: 0.9rem;
    }
    .section1img {
        width: 65%;
    }
    .section3text {
        font-size: 1.2rem;
    }
    .section4cardname {
        font-size: 1.3rem;
        height: 15%;
    }
    .section4cardresult {
        font-size: 0.8rem;
        height: 59%;
    }
    .section4cardprice {
        font-size: 0.9rem;
        height: 13%;
    }
    .section4cardcontact {
        font-size: 0.6rem;
        height: 13%;
    }
    .section5card1 div{
        font-size: 0.7rem;
    }
    .contact-form input, .contact-form button, .contact-form button {
        margin: 5px;
    }
    .section5card1 div p{
        margin: 7px;
    }
}

@media (max-width: 350px) {
    header {
        font-size: 0.6rem;
    }
    .section1 {
        font-size: 1rem;
    }
    .section1img {
        width: 75%;
    }
    .section2text {
        font-size: 1.2rem;
    }
    .section2cardname {
        font-size: 1.5rem;
    }
    .section2cardcontact {
        margin: 12px;
    }
    .section2cardresults {
        font-size: 1rem;
    }
    .section2cardresults p:nth-child(n+2) {
        display: none;
    }
    .section3text {
        font-size: 1rem;
    }
    .section4cardresult p:nth-child(n+3) {
        display: none;
    }
    .section5card1 div{
        font-size: 0.6rem;
    }
}